input[type=text] {
    width: 100%;
    padding: 12px 20px;
    background-color: gray;
    color: white;
}

input[type=submit] {
    width: auto;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

body {
    background-color: blanchedalmond;
}